{% extends "ADT/base.html" %}
{% load staticfiles %}


{% block styles %}
{# Custom CSS#}
<link rel="stylesheet" href="{% static 'css/claimsview.css' %}?v=00001">
{% endblock %}


{% block content %}
<!-- <div class="split left">
  <div class="centered"> -->
        <title>Claims Preview:</title>
      <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
      <div class="form-group">

      {{ form.management_form }}
      {% for claim in form %}
      {{claim}}
      <br>
      {% endfor %}
      </div>
      <button type="submit" name="upload">Update Claims</button>
</form>
<!-- </div>
</div> -->

<div class="split right">
  <div class="centered">
    <h2>Claim Tree</h2>
    <p>Select desired claim.</p>
    {% for claim in CLAIMS %}
    {{claim.number}}
      <br>

    {% endfor %}
  </div>
</div>

{% endblock %}

        {% block scipts %}
        {# JS SCRIPTS#}
        <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
        {% endblock %}


</body>
</html>
