{% extends "ADT/base.html" %}
{% load staticfiles %}

{% block styles %}
    {# Custom CSS#}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}?v=00001">
    <link rel="stylesheet" href="{% static 'css/game.css' %}?v=00001">
    <!--  to clear the cache added '?v=00001' -->
{% endblock %}

{% block content %}

<h1>Upload or Search App No.</h1>

<form method="post" enctype="multipart/form-data">
   {% csrf_token %}
   <br>
   {{form.appNumber}}
   <br>
   {{form.document}}
   <br>
   <button type="submit" name="upload">Upload/Search</button>

 </form>




  {% endblock %}






          {% block scipts %}
          {# JS SCRIPTS#}
          <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
          {% endblock %}


  </body>
  </html>
